body{
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/*MENU BAR*/
.menu{
    width: 100%;
    height: 10%;
    position: fixed;
    padding-bottom: 5px;
    background-color: #1b1b1b;
}

.pageName{
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 17.5px;
}

.escudoUdenarMenu{
    padding: 7px 0px 5px 30px;
    color: #fff;
    font-size: 18px;
    height: 50px;
    width: 62px;
}

.optionsMenu{
    font-size: 14px;
    padding: 18px 30px 0px 0px;
}

.optionMenu{
    padding: 10px 10px 10px 10px;
}

.optionMenu:hover{
    background-color: #424242;
}
/*END MENU BAR*/

/* index.html */
/*CONTENT*/
.content{
    width: 100%;
    height: max-content;
    position: static;
    padding: 40px 0px 0px 0px;
}

.rowLogoLicinfoIndex{
    padding: 100px 100px 80px 0px;
}

.rowPageDesciptionIndex{
    padding: 100px 0px 80px 0px;
}

.fontLeftTittleIndex{
    color: #26ac30;
    font-size: 30px;
}

.fontEndTittleIndex{
    color: #1b1b1b;
    font-size: 30px
}

.pageDescriptionIndex{
    padding: 0px 100px 0px 0px;
}

.rowPageTittleVideo{
    padding: 50px 0px 0px 0px;
}

.rowPageVideo{
    padding: 50px 0px 30px 0px;
}
/*END CONTENT*/
/* END index.html */

/*FOOTER*/
.siteFooter{
    position: static;
    background-color: #1b1b1b;
    width: 100%;
    height: 10%;
}

.footerContent{
    color: #fff;
    font-style: normal;
    padding: 19px 0 18px 0;
}
/*END FOOTER*/

.rowPrincipalTittle{
    padding: 80px 0px 50px 0px;
}

/* color: #d68345; */
.fontPrincipalTittle{
    color: #5477d5;
    font-size: 32px;
}

/* diagramacionInformacion.html */
.rowMapaConceptualTittle{
    padding: 5px 0px 5px 100px;
}

.fontMapaConceptualTittle{
    color: #d68345;
    font-size: 25px;
}

.mapaConceptualParagraph{
    padding: 0px 50px 0px 90px;
}
/* END diagramacionInformacion.html */

<<<<<<< HEAD
/* contacto.html */
.subtituloNombre{
    padding: 0px 0px 0px 100px;
}

.subtituloEmpresa{
    padding: 0px 15px 0px 15px;
}

.subtituloEmail{
    padding: 0px 100px 0px 0px;
}

.lector1{
    padding: 0px 0px 0px 100px;
}

.lector2{
    padding: 0px 15px 0px 15px;
}

.lector23{
    padding: 0px 100px 0px 0px;
}

.lectorGrande{
    padding: 0px 0px 10px 20px;
}

.mensaje{
    padding: 5px 0px 5px 100px;
}
/* FIN contacto.html */
=======
/* lineasTiempo.html */
.subtitulosRecorridos{
    padding: 0px 0px 30px 35px;
}

.espacioLinea{
    padding: 0px 40px 80px 40px;
}

.fontSubtitulosLineasTiempo{
    color: #d68345;
    font-size: 25px;
}
/* END lineasTiempo.html */
>>>>>>> 938079999cc19d10d9d06ea0b3bd3271d0c70a07
